<div class="card-body">
  <h3 class="card-title"> {{configTable.title}} (<small> {{configTable.totalRegisters}} </small>)</h3>
</div>
<table class="table table-hover tablest">
  <thead>
    <tr>
      <th class="centrado" *ngFor="let column of configTable.columns">{{column.titleColumn}}</th>
      <th *ngIf="configTable.actions" class="centrado">Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let row of rows">
      <td *ngFor="let item of configTable.columns">
        <ng-container *ngIf="item.property === 'img'; else elseBlah">
          <img [src]="row[item.property] | images" class="img-50 img-circle pointer">
        </ng-container>
        <ng-template #elseBlah>
          <div [ngStyle]="{'width': item.length}">{{row[item.property]}}</div>
        </ng-template>
      </td>

      <td class=" tablefl " *ngIf="configTable.actions ">
        <button class="btn btn-primary btn-sm btnmr ">
                                <i class="fa fa-save "></i>
                                </button>
        <button class="btn btn-danger btn-sm btnmr ">
                                <i class="fa fa-trash-o "></i>
                                </button>
      </td>
    </tr>
  </tbody>
</table>